{{> head }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam labore et atque perspiciatis inventore sint, quas corporis necessitatibus repellendus perferendis soluta illum, aperiam molestias rem dolores fuga minima at beatae.
        </div>
        <div class="col-4">
            <img src="assets/img/montain.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}